$rem-base: 16px;
$em-base: 16px;

//path
$font-path: '../fonts/';
$img-path: '../img/';
$icon-path: '../img/icons/';
$upload-path:'../img/upload/';
$icomoon-font-path: $font-path;

$white: #ffffff;
$gray: #808080;
$fieldset-border-color: #c0c0c0;