@import "variables";

@font-face {
    font-family: 'suez';
    src:    url('#{$icomoon-font-path}/suez.eot?ug0yny');
    src:    url('#{$icomoon-font-path}/suez.eot?ug0yny#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/suez.ttf?ug0yny') format('truetype'),
        url('#{$icomoon-font-path}/suez.woff?ug0yny') format('woff'),
        url('#{$icomoon-font-path}/suez.svg?ug0yny#suez') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'suez' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-1-b {
  &:before {
    content: $icon-arrow-1-b;
  }
}
.icon-arrow-1-l {
  &:before {
    content: $icon-arrow-1-l;
  }
}
.icon-arrow-1-r {
  &:before {
    content: $icon-arrow-1-r;
  }
}
.icon-arrow-1-t {
  &:before {
    content: $icon-arrow-1-t;
  }
}
.icon-arrow-2-b {
  &:before {
    content: $icon-arrow-2-b;
  }
}
.icon-arrow-2-l {
  &:before {
    content: $icon-arrow-2-l;
  }
}
.icon-arrow-2-r {
  &:before {
    content: $icon-arrow-2-r;
  }
}
.icon-arrow-2-t {
  &:before {
    content: $icon-arrow-2-t;
  }
}
.icon-arrow-3-b {
  &:before {
    content: $icon-arrow-3-b;
  }
}
.icon-arrow-3-l {
  &:before {
    content: $icon-arrow-3-l;
  }
}
.icon-arrow-3-r {
  &:before {
    content: $icon-arrow-3-r;
  }
}
.icon-arrow-3-t {
  &:before {
    content: $icon-arrow-3-t;
  }
}
.icon-back {
  &:before {
    content: $icon-back;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-close-1 {
  &:before {
    content: $icon-close-1;
  }
}
.icon-close-2 {
  &:before {
    content: $icon-close-2;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-email {
  &:before {
    content: $icon-email;
  }
}
.icon-fail {
  &:before {
    content: $icon-fail;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-location {
  &:before {
    content: $icon-location;
  }
}
.icon-pass {
  &:before {
    content: $icon-pass;
  }
}
.icon-pause {
  &:before {
    content: $icon-pause;
  }
}
.icon-pdf {
  &:before {
    content: $icon-pdf;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-ppt {
  &:before {
    content: $icon-ppt;
  }
}
.icon-xls {
  &:before {
    content: $icon-xls;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-zoom-out {
  &:before {
    content: $icon-zoom-out;
  }
}
.icon-doc {
  &:before {
    content: $icon-doc;
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark;
  }
}
.icon-arrow-4-l {
  &:before {
    content: $icon-arrow-4-l;
  }
}
.icon-arrow-4-r {
  &:before {
    content: $icon-arrow-4-r;
  }
}
.icon-arrow-4-b {
  &:before {
    content: $icon-arrow-4-b;
  }
}
.icon-arrow-4-t {
  &:before {
    content: $icon-arrow-4-t;
  }
}
.icon-earth {
  &:before {
    content: $icon-earth;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-error {
  &:before {
    content: $icon-error;
  }
}
