$icomoon-font-path: "fonts" !default;

$icon-arrow-1-b: "\e901";
$icon-arrow-1-l: "\e902";
$icon-arrow-1-r: "\e903";
$icon-arrow-1-t: "\e904";
$icon-arrow-2-b: "\e905";
$icon-arrow-2-l: "\e906";
$icon-arrow-2-r: "\e907";
$icon-arrow-2-t: "\e908";
$icon-arrow-3-b: "\e909";
$icon-arrow-3-l: "\e90a";
$icon-arrow-3-r: "\e90b";
$icon-arrow-3-t: "\e90c";
$icon-back: "\e90d";
$icon-clock: "\e90e";
$icon-close-1: "\e90f";
$icon-close-2: "\e910";
$icon-download: "\e911";
$icon-email: "\e912";
$icon-fail: "\e913";
$icon-link: "\e914";
$icon-location: "\e915";
$icon-pass: "\e916";
$icon-pause: "\e917";
$icon-pdf: "\e918";
$icon-search: "\e919";
$icon-youtube: "\e91a";
$icon-play: "\e91b";
$icon-ppt: "\e91c";
$icon-xls: "\e91d";
$icon-share: "\e91e";
$icon-zoom-out: "\e91f";
$icon-doc: "\e920";
$icon-checkmark: "\e921";
$icon-arrow-4-l: "\e929";
$icon-arrow-4-r: "\e92a";
$icon-arrow-4-b: "\e92b";
$icon-arrow-4-t: "\e92c";
$icon-earth: "\e92f";
$icon-facebook: "\ea90";
$icon-twitter: "\ea96";
$icon-linkedin: "\eaca";
$icon-error: "\e928";

